doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css")
        link(rel="stylesheet", href="/css/style.css")
        title Image Uploader
    body 
        .container 
            .modal 
                .modal-header 
                    p.size-12 Upload your image 
                    span.gray-3 File should be Jpeg, Png,...
                .modal-section 
                    img.modal-img(src="/img/image.png")
                    p.gray-4 Drag & Drop your image here
                .modal-footer
                    span.gray-4 Or 
                    label(for="file")
                        a.modal-button Choose file 
                    input.display-none(type="file", id="file") 
                    
